*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/* border-bottom: 1px solid #ececec; */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually__hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
}

.order__button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: #000000;
}

.footer__section .accent {
  color: #ffffff;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
  gap: 46px;
}
.navigation__list .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 2px;
  padding-right: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__list .link:hover, .navigation__list .link:focus {
  color: #2196f3;
}
.navigation__list .link.current {
  color: #2196f3;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contact__list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.contact__list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__list .link:hover, .contact__list .link:focus {
  color: #2196f3;
}

.header__container {
  display: flex;
  align-items: center;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature__list .title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature__list .item {
  width: 270px;
}

.feature__img {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.presentation {
  padding-top: 0;
}

.presentation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.presentation__list .item {
  width: 370px;
  position: relative;
}

.services__title {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__list .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.team__list .item {
  width: 270px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
}

.soc__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover .soc__icon, .soc__link:focus .soc__icon {
  fill: #ffffff;
}

.card {
  padding: 30px 10px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.client__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
}

.client__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #2196f3;
}

.secondary__button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  min-width: 73px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary__button:hover, .secondary__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.section__portfolio {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.product__type {
  font-size: 16px;
  line-height: 1.87;
}

.product__border {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.product__wrap {
  position: relative;
  overflow: hidden;
}

.top__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}
.product__list .item:nth-child(3n) {
  margin-right: 0;
}
.product__list .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.product__list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__list .item:hover,
.product__list .item:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product__list .item:hover .top__text,
.product__list .item:focus .top__text {
  transform: translateY(0);
}

.footer__section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.site__footer {
  margin-top: 20px;
}
.site__footer .map__link {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site__footer .map__link:hover, .site__footer .map__link:focus {
  color: #2196f3;
}
.site__footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site__footer .link:hover, .site__footer .link:focus {
  color: #2196f3;
}
.site__footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.invait__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.invait__list {
  display: flex;
  gap: 10px;
}

.invait__icon {
  fill: #ffffff;
}

.invait__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.invait__link:hover, .invait__link:focus {
  background-color: #2196f3;
}

.page__invait {
  margin-left: 70px;
}

.subscribe__form {
  margin-left: auto;
}

.subscribe__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__subscribe {
  margin-top: 12px;
  position: relative;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  padding: 16px 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  margin-left: 12px;
  padding: 10px 28px;
}

.subscribe__icon {
  fill: #ffffff;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close__icon {
  fill: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close__icon:hover, .close__icon:focus {
  fill: #2196f3;
}

.modal__close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  text-align: center;
}

.modal__fieled {
  margin-bottom: 10px;
}
.modal__fieled:nth-child(4n) {
  margin-bottom: 0;
}

.input__wrap {
  position: relative;
  display: block;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
  outline: none;
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .input__icon {
  fill: #2196f3;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.online__comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: #000000;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.online__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.online__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.online__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.modal__button {
  position: absolute;
  min-width: 200px;
  height: 50px;
  left: 165px;
  bottom: 40px;
  background: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.check__text .check__box {
  width: 16px;
  height: 15px;
  border: 1.75px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check__icon {
  fill: transparent;
}
.modal__check:checked + .check__text .check__icon {
  fill: #ffffff;
}

.modal__check:checked + .check__text .check__box {
  background-color: #2196f3;
  border: none;
  box-shadow: none;
}

.agree__link {
  color: #2196f3;
  text-decoration: underline;
}

.modal__fieled.agree {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */