.navigation__list {
  display: flex;
  margin-left: 93px;
  gap: 46px;
  .link {
    color: $titleTextColor;
    font-weight: $mediumWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $preSmallLetterSpacing;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 2px;
    padding-right: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
  .link.current {
    color: $accentColor;
  }
}
.current {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accentColor;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}
.contact__list {
  display: flex;
  margin-left: auto;
  gap: 50px;
  .link {
    font-weight: $mediumWeight;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: $preSmallLetterSpacing;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $primaryTextColor;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
