.hero__title {
  color: $backgroundColor;
  font-weight: $blackWeight;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: $largeLetterSpacing;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero {
  background-color: $footerBackgroundColor;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
