.team-card__title {
  color: $titleTextColor;
  font-weight: $mediumWeight;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: $backgroundColor;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.team {
  background-color: $secondaryBackgroundColor;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .team-card__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .item {
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 30px) / 4);
      width: 270px;
    }
  }
}
.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  background-color: $backgroundColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}
.social__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social__link:hover &,
  .social__link:focus & {
    fill: $backgroundColor;
  }
}
.team-card {
  padding: 30px 10px;
  background-color: $backgroundColor;
  border-radius: 0px 0px 4px 4px;
}
