.team {
  background-color: $secondaryBackgroundColor;
}
.team__title {
  color: $titleTextColor;
  font-weight: $mediumWeight;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background-color: $backgroundColor;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .item {
    width: 270px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.soc__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc__link {
  width: 44px;
  height: 44px;
  background-color: $backgroundColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
  }
}
.soc__icon {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .soc__link:hover &,
  .soc__link:focus & {
    fill: $backgroundColor;
  }
}
.card {
  padding: 30px 10px;
  background-color: $backgroundColor;
  border-radius: 0px 0px 4px 4px;
}
